@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  background-color: #181817;
  color: #e5e5e1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-article img {
  width: 7rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.modal {
  background-color: #bababa;
  padding: 2rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 10px 0 #181817;
  max-width: 50rem;
  width: 100%;
}

.modal h2,
.modal h1 {
  margin: 0;
}

.archive-header ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.archive-header ul a {
  text-decoration: none;
  color: #b0b0a6;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.25rem;
}

.archive-header ul a:hover,
.archive-header ul a.active {
  color: #e5e5e1;
}

.archive-filter {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #b0b0a6;
}

.error {
  text-align: center;
  margin-top: 3rem;
}

.nav-link:hover,
.nav-link.active {
  background-color: #bcbcb7;
  color: #181817;
}

.news-image-page { 
  position: relative; 
  width: 100%; 
  height: 80vh; 
}
